---
import { FaGithub } from "react-icons/fa";
---

<a href="https://github.com/Atotti" target="_blank" class="sns-icon">
    <FaGithub />
</a>


<style>
/* GitHubアイコンの個別スタイル */
.sns-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #666666;
    font-size: 24px;
    text-decoration: none; /* 下線を無効化 */
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* 中の余分な要素を隠す */
    background-color: #333333;
    color: white;
}
.sns-icon:hover {
    transform: scale(1.1); /* 少し拡大する */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background-color: #24292e;
}
</style>
