/* ベースのスタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e0e0f8;
    color: #666666;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


/* 各セクション */
section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* スマホ対応 */
@media (max-width: 900px) {
    main {
        max-width: 95% !important; /* 画面幅の95%を使用して左右に余白を確保 */
        padding: 15px !important; /* 内側の余白を少し調整 */
        margin: 0 auto !important; /* メインコンテンツを中央揃え */
    }
}


/* ブログ共通スタイル */
h2 {
  font-family: 'Zen Kaku Gothic New variant0', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #404950;
  padding-bottom: 0.5rem;
  padding-top: 0.4rem;
}

h3 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}


p {
  padding: 0.2rem;
}

li {
  list-style: disc;
  margin-left: 20px;
  color: #555;
  line-height: 1.8;
}


/* リンク */
a {
  color: #ff7593;
  text-decoration: none;
}

a:hover {
  color: #ff9cb1;
  text-decoration: none;
}

/* リスト */
ul, ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.8;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

/* 引用 */
blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid #828fff;
  background-color: #f9f9f9;
  color: #555;
  font-style: italic;
}

/* コード */
pre, code {
  font-family: 'Courier New', monospace;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  color: #d14;
}

pre {
  padding: 1rem;
  overflow-x: auto;

}

