---
import ProfileIcon from "./ProfileIcon.astro"
---

<section>
    <div class="about-container">
        <ProfileIcon />
        <div>
            <h2>About Me</h2>
            <p>プログラミングが趣味の学生です。フロントエンド開発やバックエンドにも興味があります。</p>
            <p>最近はNLPに感心があります。</p>
        </div>
    </div>
</section>

<style>
/* 横並びにするコンテナ */
@media (min-width: 900px) {
    .about-container {
        display: flex;
        align-items: center; /* 縦方向で中央揃え */
        gap: 20px; /* アイコンとテキストの間隔 */
    }
}
</style>
