---
import ProfileIcon from "./ProfileIcon.astro"

import SectionTitle from "./SectionTitle.astro"
import Section from "./Atoms/Section.astro"
import SectionContent from "./Atoms/SectionContent.astro"
---

<Section>
    <div class="about-container">
        <ProfileIcon />
        <div>
            <SectionTitle>About me</SectionTitle>
            <SectionContent>プログラミングが趣味の学生です。フロントエンド開発やバックエンドにも興味があります。このサイトは Astro × PandaCSS で作成しました。
            最近はNLPに感心があります。</SectionContent>
        </div>
    </div>
</Section>

<style>
/* 横並びにするコンテナ */
@media (min-width: 900px) {
    .about-container {
        display: flex;
        align-items: center; /* 縦方向で中央揃え */
        gap: 20px; /* アイコンとテキストの間隔 */
    }
}
</style>
