---
---
<section>
    <h2>Articles</h2>
    <ul>
        <li><a>[準備中] APIを使用せずに Django Template 中でReactを使用する方法</a></li>
        <li><a>[準備中] ICPC2022 アジア大会参加記</a></li>
        <li><a>[準備中] Pixivバックエンドエンジニアインターンに行った話</a></li>
    </ul>
</section>
