---
import SectionTitle from './SectionTitle.astro';
import Section from './Atoms/Section.astro';
import SectionContent from './Atoms/SectionContent.astro';
---
<Section>
    <SectionTitle>Awards</SectionTitle>
    <SectionContent>
        <ul>
            <li>
                <p>CyberAgent ACE 2024. 個人賞 (2024/10)</p>
            </li>
            <li>
                <p>Google Developer Solution Challenge Japan 2023. 最優秀賞&チームラボ賞 (2023/12)</p>
            </li>
            <li>
                <p>PG Battle 企業・大学対抗 プログラミングバトル 2023. アシスト賞 (2023/10)</p>
            </li>
            <li>
                <p>ACM International Collegiate Programming Contest 2023 Yokohama Regional. 53rd (2022/12)</p>
            </li>
        </ul>
    </SectionContent>
</Section>
