---
import SectionTitle from './SectionTitle.astro';
import Section from './Atoms/Section.astro';
import SectionContent from './Atoms/SectionContent.astro';
---
<Section>
    <SectionTitle>Prize</SectionTitle>
    <SectionContent>
        
    </SectionContent>
</Section>
