---
import SectionTitle from './SectionTitle.astro';
import Section from './Atoms/Section.astro';
import SectionContent from './Atoms/SectionContent.astro';
---
<Section>
    <SectionTitle>Contact</SectionTitle>
    <SectionContent>
        <p>メールまたはTwitterにてご連絡ください。</p>
        <p>
            メール:
            <a href="">aya172957@ayutaso.com</a>
        </p>
    </SectionContent>
</Section>
