---
---
<section>
    <h2>Contact</h2>
    <p>
        <i class="fa-solid fa-envelope"></i> メール:
        <a href="mailto:aya172957@ayutaso.com">aya172957@ayutaso.com</a>
    </p>
    <p>
        <i class="fa-brands fa-square-twitter"></i> Twitter:
        <a href="https://x.com/aya172957">@aya172957</a>
    </p>
</section>
