---
import { css } from '../../styled-system/css'
---

<header class={css({
    "background": "#828fff",
    "color": "white",
    "padding": "1rem 0",
    "textAlign": "center",
})}>
    <h1 class={css({
        "fontFamily": "'Hachi Maru Pop', sans-serif",
        "fontWeight": 100,
        "fontSize": "2rem",
        "marginBottom": 5,
    })}>あゆたそどっとこむ</h1>
    <nav>
        <a href="/">ホーム</a> ・
        <a href="/about">About</a> ・
        <a href="/blog">blog</a>
    </nav>
</header>

