---
---

<style>
header {
    background: #828fff;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-family: "Hachi Maru Pop", sans-serif;
}
</style>

<header>
    <h1>あゆたそどっとこむ</h1>
    <nav>
        <a href="/">ホーム</a>
        ・
        <a href="/about">About</a>
    </nav>
</header>
