---
import { css } from '../../styled-system/css'

---

<h2 class={css({
    "borderBottom": "2px solid #828fff",
    "paddingBottom": "0.5rem",
    "margin": "1rem",
    "color": "#404950",
    "fontFamily": "'Varela Round', sans-serif",
    "fontSize": "1.5rem",
    "fontWeight": 600
})}>
    <slot />
</h2>
