---
---
<section>
    <h2>Skills</h2>
    <ul>
        <li><i class="fa-brands fa-html5"></i> HTML</li>
        <li><i class="fa-brands fa-css3-alt"></i> CSS</li>
        <li><i class="fa-brands fa-js"></i> JavaScript</li>
        <li><i class="fa-brands fa-python"></i> Python</li>
        <li><i class="fa-brands fa-react"></i> React</li>
    </ul>
</section>
