---
---
<div class="sns-icons">
    <a href="https://x.com/aya172957" target="_blank" class="sns-icon twitter">
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://github.com/Atotti" target="_blank" class="sns-icon github">
        <i class="fa-brands fa-github"></i>
    </a>
</div>

