---
import TwitterIcon from './Sns/TwitterIcon.astro';
import GitHubIcon from './Sns/GitHubIcon.astro';
---

<div>
    <TwitterIcon />
    <GitHubIcon />
</div>


<style>
/* SNSアイコン全体のスタイル */
div {
    display: flex;
    gap: 15px; /* アイコン間の隙間 */
    justify-content: center;
    margin-top: 20px;
}
</style>
