---
import Qualtet from './Works/Qualtet.astro';
import Ishiike from './Works/Ishiike.astro';
---

<section>
    <h2>Works</h2>
    <div class="card">
        <Ishiike />
    </div>
    <div class="card">
        <Qualtet />
    </div>
</section>


<style>
.card {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* ホバーエフェクト */
.card:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}
</style>
