---
---
<div>
    <h3><a href="https://chromewebstore.google.com/detail/kibaco-advance/gcallmgoceccjabpmdljlkfblgolbakg/related?hl=ja&authuser=0" target="_blank">kibaco-advance</a></h3>
    <p>都立大のLMS向け拡張機能です。ユーザーニーズを的確に捉えたツールになっています。</p>
</div>
