---
---
<div>
    <h3><a href="https://xi-server.ayutaso.com/" target="_blank">THE DICE</a></h3>
    <p>ゲーム開発にも興味があります。なつかしの某ゲームを実装したりしました。</p>
    <p><a href="https://xi-server.ayutaso.com/about/" target="_blank">紹介ページ</a></p>
</div>
