---
import { css } from '../../../styled-system/css'
---

<section class={css({
    "marginBottom": "2rem",
    "padding": "16px",
    "background": "white",
    "borderRadius": "8px",
    "boxShadow": "0 4px 6px rgba(0, 0, 0, 0.1)",
    "animation": "fadeIn 1s ease-in-out",
    "display": "block",
    "unicodeBidi": "isolate"
})}
>
    <slot />
</section>
